/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;
@import url("https://use.typekit.net/qxh8qkc.css");

body {
  color: #000;
  background-color: #EADDC7;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
    font-family: 'Alegreya';
}

p {
  font-weight: 500;
    font-family: 'Alegreya';
}

